<?php echo $this->getContent(); ?>

<div align="right">
    <a href="/profiles/create" class="btn btn-primary" title="Create Profiles"><i class='icon-plus-sign'></i>Create Profiles</a>
</div>

<form method="post" action="/profiles/search" autocomplete="off">

    <div class="center scaffold">

        <h2>Search profiles</h2>

        <div class="clearfix">
            <label for="id">Id</label>
            <?php echo $form->render('id'); ?>
        </div>

        <div class="clearfix">
            <label for="name">Name</label>
            <?php echo $form->render('name'); ?>
        </div>

        <div class="clearfix">
            <input type="submit" class="btn btn-primary" value="Search">
        </div>

    </div>

</form>