

<div align="center" class="well">

	<form method="post" class="form-search">

	<div align="left">
		<h2>Forgot Password?</h2>
	</div>
		<?php echo $form->render('email') ?>
		<?php echo $form->render('Send') ?>

		<hr>

	</form>

</div>