<div align="center" class="well">
	<?php echo $this->getContent() ?>
	<form method="post">

	<div align="left">
		<h2>Log In</h2>
	</div>
		<?php echo $form->render('email') ?>
		<?php echo $form->render('password') ?>
		<?php echo $form->render('go') ?>

		<div align="center" class="remember">
			<?php echo $form->render('remember') ?>
			<?php echo $form->label('remember') ?>
		</div>

			<?php echo $form->render('csrf',['value'=>$this->security->getToken()]) ?>
		<!-- {{ form.render('csrf', ['value': security.getToken()]) }} -->

		<hr>

		<div class="forgot">
			<a href="/session/forgotPassword" title="Forgot my password">Forgot my password</a>
			<!-- {{ link_to("session/forgotPassword", "Forgot my password") }} -->
		</div>

	</form>

</div>