<?php //echo $this->getContent() ?>

<div align="center">

	<!-- {{ form('class': 'form-search') }} -->
	<form action="/session/signup" method="post" class="form-search">
		<div align="left">
			<h2>Sign Up</h2>
		</div>
		<?php 
		// echo '<pre>';
  //           var_dump($this->security->checkToken());
		// echo '</pre>';
		 ?>

		<table class="signup">
			<tr>
				<td align="right"><?php echo $form->label('name'); ?></td>
				<td>
					<?php echo $form->render('name', ['maxlength'=>20, 'placeholder'=>'Your Name']); ?>
					<?php echo $form->messages('name'); ?>
				</td>
			</tr>
			<tr>
				<td align="right"><?php echo $form->label('email'); ?></td>
				<td>
					<?php echo $form->render('email'); ?>
					<?php echo $form->messages('email'); ?>
				</td>
			</tr>
			<tr>
				<td align="right"><?php echo $form->label('password'); ?></td>
				<td>
					<?php echo $form->render('password'); ?>
					<?php echo $form->messages('password'); ?>
				</td>
			</tr>
			<tr>
				<td align="right"><?php echo $form->label('confirmPassword'); ?></td>
				<td>
					<?php echo $form->render('confirmPassword'); ?>
					<?php echo $form->messages('confirmPassword'); ?>
				</td>
			</tr>
			<tr>
				<td align="right"></td>
				<td>
					<?php echo $form->render('terms'); ?> <?php echo $form->label('terms'); ?>
					<?php echo $form->messages('terms'); ?>
				</td>
			</tr>
			<tr>
				<td align="right"></td>
				<td><?php echo $form->render('Sign Up'); ?></td>
			</tr>
		</table>

		<?php echo $form->render('csrf', ['value'=>$this->security->getToken()]); ?>
		<?php echo $form->messages('terms'); ?>

		<hr>

	</form>

</div>