<?php echo $this->getContent(); ?>

<div align="right">
    <a href="/users/create" class="btn btn-primary" title="Create Users"><i class='icon-plus-sign'></i>Create Users</a>
</div>

<form method="post" action="/users/search" autocomplete="off">

    <div class="center scaffold">

        <h2>Search users</h2>

        <div class="clearfix">
            <label for="id">Id</label>
            <?php echo $form->render('id'); ?>
        </div>

        <div class="clearfix">
            <label for="name">Name</label>
            <?php echo $form->render('name'); ?>
        </div>

        <div class="clearfix">
            <label for="email">E-Mail</label>
            <?php echo $form->render('email'); ?>
        </div>

        <div class="clearfix">
            <label for="profilesId">Profile</label>
            <?php echo $form->render('profilesId'); ?>
        </div>

        <div class="clearfix">
            <input type="submit" class="btn btn-primary" value="Search">
        </div>

    </div>

</form>