<?php echo $this->getContent(); ?>

<ul class="pager">
    <li class="previous pull-left">
        <a href="/users/index" title="Go Back">&larr; Go Back</a>
    </li>
    <li class="pull-right">
        <a href="/users/create" class="btn btn-primary" title="Create users">Create users</a>
    </li>
</ul>

<table class="table table-bordered table-striped" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Profile</th>
            <th>Banned?</th>
            <th>Suspended?</th>
            <th>Confirmed?</th>
        </tr>
    </thead>
    <tbody>
<?php foreach ($page->items as $user): ?>
        <tr>
            <td><?php echo $user->id ?></td>
            <td><?php echo $user->name ?></td>
            <td><?php echo $user->email ?></td>
            <td><?php echo $user->profile->name ?></td>
            <td><?php echo $user->banned == 'Y' ? 'Yes' : 'No' ?></td>
            <td><?php echo $user->suspended == 'Y' ? 'Yes' : 'No' ?></td>
            <td><?php echo $user->active == 'Y' ? 'Yes' : 'No' ?></td>
            <td width="12%"><a href="/users/edit/<?php echo $user->id ?>" class="btn btn-primary" title="Edit"><i class="icon-pencil"></i> Edit</a></td>
            <td width="12%"><a href="/users/delete/<?php echo $user->id ?>" class="btn btn-danger" title="Delete"><i class="icon-remove"></i> Delete</a></td>
        </tr>
<?php endforeach ?>  
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10" align="right">
                <div class="btn-group">
                    <a href="/users/search/<?php echo $user->id ?>" class="btn" title="First"><i class="icon-fast-backward"></i> First</a>
                    <a href="/users/search?page=<?php echo $page->before ?>" class="btn" title="Previous"><i class="icon-step-backward"></i> Previous</a>
                    <a href="/users/search?page=<?php echo $page->next ?>" class="btn" title="Next"><i class="icon-step-forward"></i> Next</a>
                    <a href="/users/search?page=<?php echo $page->last ?>" class="btn" title="Last"><i class="icon-fast-forward"></i> Last</a>
                    <span class="help-inline"><?php echo $page->current ?> / <?php echo $page->total_pages ?></span>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
