<!DOCTYPE html>
<html>
<head>
	<?php echo $this->tag->getTitle() ?>
	<link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/united/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container" style="width: auto;">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a href="#" title="brand">Vökuró</a>
				<div class="nav-collapse">
					<ul class="nav">

						<?php $menu = [
							'Home'=> '/index',
							'About'=> '/about'
						] ?>

						<?php foreach ($menu as $k => $v): ?>
							<?php if ($this->dispatcher->getControllerName()): ?>
								<li class="active"><a href="<?php echo $v ?>" title="<?php echo $k ?>"><?php echo $k ?></a></li>
								<?php else: ?>
									<li><a href="<?php echo $v ?>" title="<?php echo $k ?>"><?php echo $k ?></a></li>
								<?php endif ?>
							<?php endforeach ?>


						</ul>

						<ul class="nav pull-right">
							<?php if (isset($logged_in) AND !empty($logged_in)): ?>
							<a href="/users" class="btn btn-primary" title="Privacy Policy">Users Panel</a>
							<a href="/session/logout" class="btn btn-primary" title="Privacy Policy">Logout</a>
							<?php else: ?>
								<a href="/session/login" class="btn btn-primary" title="Privacy Policy">Login</a>
							<?php endif ?>
						</ul>
					</div><!-- /.nav-collapse -->
				</div>
			</div><!-- /navbar-inner -->
		</div>

		<div class="container main-container">
			<?php echo $this->getContent() ?>
		</div>

		<footer class="text-center mt-5">
			Made with love by the Phalcon Team
			<a href="privacy" title="Privacy Policy">Privacy Policy</a>
			<a href="terms" title="Privacy Policy">Terms</a>

			© <?php echo date('Y') ?> Phalcon Team.
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	</body>
	</html>
